*{
    margin: 0px;
    text-decoration: none;
    font-family: "poppins";
}

body {
background-image: url(./assets/bg.png);
background-size: cover;
/* width: 1366px; */
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-left: 32px;
    margin-top: 20px;
    /* padding-right: 100px; */
    height: 40px;
    /* border-right: 2px solid; */
    /* border-right-color: #ffffff; */
}
.line{
    border: 1px solid white;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 1vw;

}
nav {
    display: flex;
    background-color: black;
    /* max-width: 1366px; */
    padding-top: 0px;
    padding-bottom: 2px;

}
#Apps{
    color: #ffffff;
    background-color: black;
    border: none;
    font-size: 16px;
}

.list {
    display: flex;
    color: white;
    list-style: none;
}
.list-item {
    /* margin-left: 40px; */
    margin: 1vw;
    margin-top: 25px;
    font-size: 16px;
    cursor: pointer;
}
.button-small{
    background-color: #d711ff;
    margin-top: 20px;
    color: white; 
    /* margin-left: 280px; */
    padding: 5px 22px;
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
}
.vertical{
    margin-top: 0px;
    margin-left: 40px;
    font-size: 50px;
    font-weight: lighter;
}
.button-large
{
    background-color: #d711ff;
    color: #ffffff;
    margin-top: 32px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 25px;
    border: none;
    font-weight: 500;  
    cursor: pointer; 
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}
.hero-heading{
    margin-top: 80px;
    font-size: 76px;
    font-weight: 600;
    margin-left: 240px;
    margin-right: 240px;
    text-align: center;
}
.hero-description{
    font-size: 32px;
}
@media (max-width:640px) {
    .list{
        flex-direction: column;
    }
}